<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{'/css/style.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="@{'/images/favicon.png'}"/>
    <title>WEB control robot</title>
</head>
<body>
    <div class="page">

        <h1>Editace maker pro ovádaní robota:</h1>

        <table>
            <tr>
                <td>
                    <a href="menu.html" th:href="@{/menu}" class="button">Zpět menu</a>
                </td>
                <td>
                    <p> <a th:href="@{/makraNovy}" href="makraDetail.html" class="button">Přidat nový záznam</a>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>ID</th>
                <th>Název</th>
                <th>Hodnota</th>
                <th>Popis</th>

            </tr>
            <tr th:each="nastav : ${makra}">
                <td th:text="${nastav.id}">Číslo</td>
                <td th:text="${nastav.nazev}">Jméno</td>
                <td th:text="${nastav.hodnota}">Prijmeni</td>
                <td th:text="${nastav.popis}">Role</td>
                <td>
                    <a href="makraDetail.html" th:href="@{'/makraDetail/'+${nastav.id}}" class="button">Edit</a>
                </td>
                <td>
                    <form th:action="@{'/makraDetail/'+${nastav.id}}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="submit" value="Smazat" class="button"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>


</body>
</html>
