<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="cs" lang="cs">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{'/css/style.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="@{'/images/favicon.png'}"/>
    <title>WEB control robot</title>
</head>
<body>
    <div class="page">

        <h1>Edituj uživatele:</h1>
    </div>

    <table>
        <tr>
            <td>
                <a href="menu.html" th:href="@{/menu}" class="button">Zpět menu</a>
            </td>
            <td>
                <p> <a th:href="@{/uzivatelNovy}" href="uzivatelDetail.html" class="button">Přidat nový kontakt</a>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Číslo</th>
            <th>Přijmeni</th>
            <th>Jmeno</th>
            <th>role</th>

        </tr>
        <tr th:each="uzivatel : ${uzivatele}">
            <td th:text="${uzivatel.id}">Číslo</td>
            <td th:text="${uzivatel.jmeno}">Jméno</td>
            <td th:text="${uzivatel.prijmeni}">Prijmeni</td>
            <td th:text="${uzivatel.role}">Role</td>
            <td>
                <a href="uzivatelDetail.html" th:href="@{'/uzivatelDetail/'+${uzivatel.id}}" class="button">Edit</a>
            </td>
            <td>
                <form th:action="@{'/uzivatelDetail/'+${uzivatel.id}}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Smazat" class="button"/>
                </form>
            </td>
        </tr>
    </table>



</body>
</html>
