<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="cs" lang="cs">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{'/css/style.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="@{'/images/favicon.png'}"/>
    <title>WEB control robot</title>
</head>
<body>
<div class="page">
    <h1>Detail kontaktu</h1>

    <form method="post">
        <table>
            <tr>
                <td><label for="jmeno">Jméno</label></td>
                <td>
                    <input id="jmeno" name="jméno" value="Krteček" type="text"
                           th:value="${uzivatel.jmeno}"/>
                </td>
            </tr>
            <tr>
                <td><label for="prijmeni">Přijmení</label></td>
                <td>
                    <input id="prijmeni" name="Přijmení" value="Mates" type="text"
                           th:value="${uzivatel.prijmeni}"/>
                </td>
            </tr>
            <tr>
                <td><label for="role">Role</label></td>
                <td>
                    <input id="role" name="Role" value=0 type="number"
                           th:value="${uzivatel.role}"/>
                </td>
            </tr>
            <tr>
                <td><label for="heslo">Role</label></td>
                <td>
                    <input id="heslo" name="Heslo" value=0 type="password"
                           th:value="${uzivatel.getHeslo_hash()}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="index.html" th:href="'.'" class="button">Zpět</a>
                    <input type="submit" class="button" value="Uložit změny"/>
                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>
